.container_type_techs {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .container_type_techs {
    padding: 90px 50px 90px;
  }
}

@media screen and (max-width: 600px) {
  .container_type_techs {
    padding: 44px 18px 72px;
  }
}