.nav-tab__link_type_account {
  padding: 0 12px 0;
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  border: 1px solid #aaa;
  border-radius: 50px;
  fill: #fff;

  transition: border-color .2s linear, color .2s linear;
}

.nav-tab__link_type_account:hover {
  border-color: #3DDC84;
  fill: #3DDC84;
}