.header {
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-background-color);
  box-sizing: border-box;
}