.student__about {
  margin: 0;
  padding: 0;

  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .student__about {
    font-size: 12px;
    line-height: 18px;
  }
}