.techs__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .techs__list {
    width: 63%;
  }
}