.student__info {
  margin: 0 0 26px;
  padding: 0;

  color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .student__info {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .student__info {
    font-size: 11px;
    line-height: 16px;
  }
}