.portfolio__item {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.portfolio__item:not(:last-child) {
  border-bottom: 1px solid var(--primary-border-color);
}

@media screen and (max-width: 1024px) {
  .portfolio__item:not(:last-child) {
    border-color: var(--tertiary-border-color);
  }
}