.profile-form__under-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;  
  color: var(--secondary-text-color);
}

@media screen and (max-width: 600px) {
  .profile-form__under-text {
    font-size: 12px;
    line-height: 15px;
  }
}