.student__content {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .student__content {
    max-width: 364px;
  }
}