.checkbox__custom {
  display: block;
  position: relative;
  width: 36px;
  height: 20px;
  box-sizing: border-box;

  border-radius: 20px;
  border: 1px solid var(--primary-accent-color);
  cursor: pointer;

  transition: background-color .2s linear, border-color .2s linear, opacity .2s linear;
}

.checkbox__custom:hover {
  border-color: var(--secondary-accent-color);
}