.footer__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--secondary-text-color);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }
}