.intro__container {
  margin: 0 -30px;
  padding-bottom: 30px;
  height: 493px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: #272727;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    margin: 0 -10px;
    height: 834px;
  }
}

@media screen and (max-width: 600px) {
  .intro__container {
    padding-bottom: 18px;
    margin: 0;
    height: 586px;
  }
}