.techs__item {
  width: 90px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;

  border-radius: 10px;
  background-color: #303030;
}