.student__name {
  margin: 0 0 18px;
  padding: 0;

  color: inherit;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1024px) {
  .student__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 40px;
  }
}