.student__text {
  margin: 0;
  padding: 0;

  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .student__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .student__text {
    margin-bottom: 40px;
    
    font-size: 11px;
    line-height: 16px;
  }
}