.student__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
  gap: 15px;
}

@media screen and (max-width: 1024px) {
  .student__container {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 600px) {
  .student__container {
    margin-bottom: 70px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}