.nav-tab__link_active {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .nav-tab__link_active {
    border-bottom-color: var(--primary-text-color);
    color: var(--primary-text-color);
  }
}