.about__content-description {
  padding: 0;
  margin: 0;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .about__content-description {
    font-size: 12px;
    line-height: 18px;
  }
}