.profile-form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .profile-form__header{
    align-items: center;
    gap: 50px;
  }
}