.nav-tab__link-account {
  padding: 0px 12px 0 11px;
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  border: 1px solid var(--secondary-border-color);
  border-radius: 50px;
  fill: var(--primary-text-color);

  transition: border-color .2s linear, color .2s linear;
}

.nav-tab__link-account:hover {
  border-color: var(--primary-accent-color);
  fill: var(--primary-accent-color);
}

@media screen and (max-width: 1024px) {
  .nav-tab__link-account {
    margin-top: auto;
  }
}