.movie-card__button {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;
  background-color: var(--quaternary-accent-color);
  cursor: pointer;
  fill: var(--primary-text-color);

  transition: background-color .2s linear;
}

.movie-card__button:hover {
  background-color: var(--primary-accent-color);
  fill: var(--quaternary-accent-color);
}