.form-auth__input {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
  background-color: transparent;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: inherit;

  transition: border .2s linear;
}

.form-auth__input:focus {
  outline: none;
  border-color: var(--secondary-accent-color);
}