.roadmap__uptitle {
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: inherit;

  background-color: var(--tertiary-background-color);
}

@media screen and (max-width: 600px) {
  .roadmap__uptitle {
    font-size: 11px;
    line-height: 13px;
  }
}